body, html {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Times New Roman', Times, serif !important;
}

#content {
    margin: auto 0;
    margin-inline: 0 2vw;
    display: flex;
    width: 98vw;
}

#languages {
    display: block;
    text-align: center;
    margin: 0.83em auto;
}

#servers, #events {
    text-align: center;
    font-weight: bold;
}

#servers, #events, #alliance_toggle {
    display: block;
    margin: 0.3em auto;
}

#alliance_toggle {
    width: fit-content;
}

#alliance_toggle button {
    font-size: 0.9em;
    padding: 0.5em 1em;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    border: none;
    border-radius: 0;
    background-color: #e0e1e2;
    font-weight: bold;
}

#alliance_toggle button:first-child {
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

#alliance_toggle button:last-child {
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

#alliance_toggle button.active {
    background-color: #21ba45;
    color: #ffffff;
}

#servers {
    font-size: 1.5em;
}

#events {
    font-size: 1.2em;
}

#navigate_buttons {
    min-width: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navigate_buttons button {
    margin: 0.2em 0;
}

#navigate_buttons button:nth-child(3) {
    margin-top: auto;
}

#table {
    flex-grow: 1;
    table-layout: fixed;
    width: 100%;
    margin: auto;
    color: #000000;
    background-color: #f5f5f5;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    border-collapse: collapse;
    text-align: center;
}

#table tr {
    border-bottom: 1px solid black;
}

#table th, #table td {
    word-break: break-word;
}

#table th {
    padding: 0.5em 0.2em;
}

#table col {
    width: 150%;
}

#table col.small_column {
    width: 100%;
}


#table tfoot tr {
    border-bottom: none;
}

#table td {
    padding: 0.3em 0.1em;
}

.title img {
    vertical-align: middle;
    height: 1.5em;
}

.medal div {
    display: inline-block;
    margin: 0 0.2em;
}

.medal div:first-child {
    margin-left: 0;
}

.medal div:last-child {
    margin-right: 0;
}

.medal p, .medal img {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

#category div, #search div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#category p {
    margin: 0 0.5em;
    width: 13em;
}

#search input {
    margin: 0 1em;
    width: 17em;
    text-align: center;
}

#navigate button, #table button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.7em;
}

td img, button img {
    height: 1em;
    margin: auto;
}

.leftArrow {
    transform: rotate(-90deg);
}

.rightArrow {
    transform: rotate(90deg);
}

#table tbody td {
    height: 1.5em;
}

@media all and (orientation: portrait) {
    #table {
        font-size: 0.8em;
    }
    
    #table tbody td {
        height: 2.25em;
    }
}