@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    --themeC: #71FCAA;
    --bgGrey: #1E1E1E;
    --fullDarkGrey: #121212;
    --DarkGrey: #282828;
    --greyLight: #B3B3B3;
    --wt: #F0F0F0;
    --hoverBg: #383838;
}

/* custom scrollbar */

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--fullDarkGrey);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--greyLight);
    border-radius: 4px;
    transition: background 0.3s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--themeC);
}


/*  */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

.flexc {
    display: flex;
    justify-content: center;
    align-items: center;
}

body,
html {
    background-color: var(--bgGrey);
    color: var(--wt);
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif !important;
}

a {
    color: var(--greyLight);
}

a:hover {
    color: var(--themeC);
}

.contentCreater {
    background: var(--DarkGrey);
    position: absolute;
    bottom: 20px;
    right: 0px;
    padding: 8px 20px;
    color: var(--greyLight);
    border-radius: 50px 0 0 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.creater,
.creater strong {
    font-family: 'Rajdhani', sans-serif !important;
    letter-spacing: 0.5px;
    word-spacing: -3px;
    animation: changeColor 8s infinite alternate;
}

.creater {
    margin: 0 5px;
}

/* Define the keyframe animation */
@keyframes changeColor {
    0% {
        color: #9100ff;
    }

    50% {
        color: #71FCAA;
    }

    100% {
        color: #00e7ff;
    }
}

h1 {
    flex-direction: column-reverse;
    position: relative;
    padding: 20px 0 25px;
    font-family: "Great Vibes", cursive !important;
    font-weight: 100;
    font-style: normal;
    font-size: 2.5em;
    text-align: center;
    color: var(--wt);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

h1>img {
    width: 200px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

section {
    margin: 0 20px;
    position: relative;
}


#content {
    background: var(--fullDarkGrey);
    display: flex;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 62px;
}

#languages {
	font-size: 1.2em;
    background: var(--DarkGrey);
    color: var(--greyLight);
    position: absolute;
    right: 20px;
    padding: 8px 15px;
    min-width: 110px;
    text-align: center;
    margin: 0.83em auto;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease-in-out;
    z-index: 1;
}

#languages:hover {
    background: var(--hoverBg);
}


.tableNavbar {
    background: var(--DarkGrey);
    display: flex; /* changed */
    justify-content: flex-start; /* changed */
    align-items: center; /* changed */
    margin: 10px 0 35px;
    height: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 0 10px;
}

#servers,
#events {
    color: var(--greyLight);
	background: var(--DarkGrey);
    background-color: transparent;
    width: fit-content;
    height: 100%;
    font-size: 1.2em;
    color: var(--greyLight);
    cursor: pointer;
	border: 0;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease-in-out;
    margin-right: 10px;
	margin-top: 20px;
}

#servers {
    padding: 0.5em 1em;
}

#servers:hover,
#events:hover {
    background: var(--hoverBg);
}

select option {
    background: var(--DarkGrey);
    color: var(--greyLight);
    border-radius: 0;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    cursor: pointer;
}

#alliance_toggle {
	font-size: 1.2em;
    position: absolute;
	margin-top: 10px;
    top: 60px;
    right: 20px;
    display: flex;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#alliance_toggle button {
    background-color: var(--DarkGrey);
    font-size: 0.8em;
    padding: 0.5em 1em;
    width: fit-content;
    height: 100%;
    cursor: pointer;
    border: none;
    color: var(--greyLight);
    font-weight: bold;
    border-radius: 50px;
    transition: background 0.3s ease-in-out;

}

#alliance_toggle button:hover {
    background-color: var(--hoverBg);
}

#alliance_toggle button.active {
    background-color: var(--themeC);
    color: var(--fullDarkGrey);
}


#table {
    flex-grow: 1;
    table-layout: fixed;
    width: 100%;
    margin: auto;
    background-color: var(--fullDarkGrey);
    color: var(--greyLight);
    border-collapse: collapse;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

#table thead {
	height: 1em;
    background: var(--DarkGrey);
    border-radius: 0.5em;
}

#table tr {
    border-bottom: 1px solid var(--DarkGrey);
}

#table th,
#table td {
    word-break: break-word;
}

#table th {
    padding: 0.8em 0.2em;
}

#table col {
    width: 150%;
}

#table col.small_column {
    width: 100%;
}

#table tbody tr:nth-child(1) {
    background: #9100ff;
    color: var(--wt);
}

#table tbody tr:nth-child(2) {
    background: #71FCAA;
    color: var(--fullDarkGrey);
}

#table tbody tr:nth-child(3) {
    background: #00e7ff;
    color: var(--fullDarkGrey);
}

#table tfoot tr {
    border-bottom: none;
}

#table tbody td {
    height: 2.5em;
}


#table td {
    padding: 0.2em 0.1em;
}

.title img {
    vertical-align: middle;
    height: 1.5em;
}

.members p,
.members img {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.members p {
    margin-inline-end: 0.5em;
}

.members a {
    cursor: pointer;
}

.player_name p {
    margin: 0;
}

.medal div {
    display: inline-block;
    margin: 0 0.2em;
}

.medal div:first-child {
    margin-inline-start: 0;
}

.medal div:last-child {
    margin-inline-end: 0;
}

.medal p,
.medal img {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

#category div,
#search div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#category p {
    margin: 10px 0.8em;
    max-width: 250px;
}

#search input {
    margin: 0 0.8em;
    width: 24em;
    text-align: center;
    padding: 0.5em;
    border-radius: 5px;
    background: var(--DarkGrey);
    color: var(--greyLight);
    border: none;
}

#searchbox {
	margin-top: 12px;
}

#navigate_buttons {
    background: var(--DarkGrey);
    padding: 5px 0;
    min-width: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#navigate_buttons button {
    background: var(--DarkGrey);
    margin: 0.2em 0;
    border: 2px var(--fullDarkGrey) solid !important;
    transition: background 0.3s ease-in-out;

}

#navigate_buttons button:hover {
    background: var(--hoverBg);
}

#navigate_buttons button:nth-child(3) {
    margin-top: auto;
}

#navigate_buttons button,
#table button {
    background: var(--DarkGrey);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    transition: background 0.3s ease-in-out;

}

#table button:hover,
#navigate_buttons button:hover {
    background: var(--hoverBg);
}


#category button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--DarkGrey);
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 2px var(--fullDarkGrey) solid !important;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

#category button:hover {
    background: var(--hoverBg);
}


td img,
button img {
    height: 1em;
    margin: auto;
    filter: invert(80%);
}

.leftArrow {
    transform: rotate(-90deg);
}

.rightArrow {
    transform: rotate(90deg);
}


.gradientBar {
    position: absolute;
    bottom: 0px;
    background: linear-gradient(to left, #9100ff, #71FCAA, #00e7ff);
    background-size: 400% 400%;
    width: 100%;
    height: 3px;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Media Query */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 481px),
screen and (max-width: 600px) {

    .tableNavbar {
        flex-direction: column;
        height: fit-content;
    }

    #servers,
    #events {
        width: 100%;
        height: 100%;
        padding: 10px 8px;
        margin-right: 0;
    }

      #alliance_toggle {
        width: 100%;
        padding: 0;
        position: relative;
        top: 0;
        right: 0;
        margin-top: 10px;
        box-shadow: none;

    }

    #alliance_toggle button {
        width: 50%;
    }


    #search input {
        width: 10em;
    }
}